<header>
  <div class="navbar-brand">CARS EU</div>
  <nav>
    <ul>
      <li>
        <a routerLink="/"> Home </a>
      </li>
      <li>
        <a routerLink="/all-cars"> All Cars </a>
      </li>
      <li>
        <a routerLink="/top-10"> Top 10 Cars </a>
      </li>
      <li>
        <a routerLink="/find-us"> Find Us </a>
      </li>
      <li>
        <a *ngIf="!!person" routerLink="/user/profile"> My Profile </a>
      </li>
      <li>
        <a *ngIf="!!person" routerLink="/add"> Add a Car </a>
      </li>
      <li>
        <a
          *ngIf="!!person"
          href="javascript:void(0);"
          (click)="logoutHandler()"
        >
          Logout
        </a>
      </li>

      <li>
        <a *ngIf="!person" routerLink="/user/login"> Login </a>
      </li>
      <li>
        <a *ngIf="!person" routerLink="/user/register"> Register </a>
      </li>
    </ul>
  </nav>
  <div class="welcome" *ngIf="!!person">
    <span>Welcome, </span>
    <a routerLink="/user/profile">
      {{ person.firstName }} {{ person.lastName }}
    </a>
  </div>
</header>
