<div class="registerContainer">
  <div class="registerWrapper">
    <div class="registerText">
      <h2>REGISTER</h2>
      <p>Let's get you on board!</p>
    </div>
    <form action="">
      <input type="text" name="firstName" placeholder="First Name" />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input type="text" name="email" placeholder="Email Address" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="rePassword" placeholder="Repeat Password" />
      <button type="submit">Register</button>
    </form>
    <div class="formLink">
      <span>Already have an account?</span>
      <span><a routerLink="/login">Sign In</a></span>
    </div>
  </div>
</div>
