header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  background: #212529da;
}
header nav ul li a,
header a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.815);
}

header nav ul li {
  list-style: none;
}

header nav ul {
  display: flex;
  gap: 1.75rem;
}

.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
}
