<header>
  <div class="navbar-brand">CARS EU</div>
  <nav>
    <ul>
      <li>
        <a routerLink="/"> Home </a>
      </li>
      <li>
        <a routerLink="/all-books"> All Cars </a>
      </li>
      <li>
        <a routerLink="/top-10"> Top 10 Cars </a>
      </li>
      <li>
        <a routerLink="/find-us"> Find Us </a>
      </li>
      <li>
        <a routerLink="/profile"> My Profile </a>
      </li>
      <li>
        <a routerLink="/add"> Add a Car </a>
      </li>
      <li>
        <a routerLink="/logout"> Logout </a>
      </li>
    </ul>
  </nav>
  <a routerLink="/profile"> Welcome, Georgi </a>
</header>
