<div class="carContainer">
  <div class="card">
    <div class="carText">
      <h3>Opel Astra</h3>
      <span><b>2018, Diesel, 20200 KM</b></span>
      <p>
        Колата е в перфектно състояние. Качваш се, палиш и да те нема. Не искам
        да слушам глупости.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://automedia.investor.bg/media/files/resized/uploadedfiles/640x0/714/7d587534c45a43fefae2ef58934a8714-05-2.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>Opel Astra</h3>
      <span><b>2018, Diesel, 20200 KM</b></span>
      <p>
        Колата е в перфектно състояние. Качваш се, палиш и да те нема. Не искам
        да слушам глупости.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://automedia.investor.bg/media/files/resized/uploadedfiles/640x0/714/7d587534c45a43fefae2ef58934a8714-05-2.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>Opel Astra</h3>
      <span><b>2018, Diesel, 20200 KM</b></span>
      <p>
        Колата е в перфектно състояние. Качваш се, палиш и да те нема. Не искам
        да слушам глупости.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://automedia.investor.bg/media/files/resized/uploadedfiles/640x0/714/7d587534c45a43fefae2ef58934a8714-05-2.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>На майка ти бракмата</h3>
      <span><b>1982, Pure Gas, 705002 KM</b></span>
      <p>
        Нема смисъл да коментираме. Ангелче е. Лапай ми ножа минимум максимум.
        Сметам, че знаеш.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://www.pilotonline.com/resizer/nHXJ0Mxk4C-Z1IatqmLLjkS7UnA=/630x630/top/www.trbimg.com/img-5d3a69d9/turbine/vp-article_6b7ba6b6-a305-11e9-bddd-d349dc0130f4"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>На майка ти бракмата</h3>
      <span><b>1982, Pure Gas, 705002 KM</b></span>
      <p>
        Нема смисъл да коментираме. Ангелче е. Лапай ми ножа минимум максимум.
        Сметам, че знаеш.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://www.pilotonline.com/resizer/nHXJ0Mxk4C-Z1IatqmLLjkS7UnA=/630x630/top/www.trbimg.com/img-5d3a69d9/turbine/vp-article_6b7ba6b6-a305-11e9-bddd-d349dc0130f4"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>На майка ти бракмата</h3>
      <span><b>1982, Pure Gas, 705002 KM</b></span>
      <p>
        Нема смисъл да коментираме. Ангелче е. Лапай ми ножа минимум максимум.
        Сметам, че знаеш.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://www.pilotonline.com/resizer/nHXJ0Mxk4C-Z1IatqmLLjkS7UnA=/630x630/top/www.trbimg.com/img-5d3a69d9/turbine/vp-article_6b7ba6b6-a305-11e9-bddd-d349dc0130f4"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>На майка ти бракмата</h3>
      <span><b>1982, Pure Gas, 705002 KM</b></span>
      <p>
        Нема смисъл да коментираме. Ангелче е. Лапай ми ножа минимум максимум.
        Сметам, че знаеш.
      </p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://www.pilotonline.com/resizer/nHXJ0Mxk4C-Z1IatqmLLjkS7UnA=/630x630/top/www.trbimg.com/img-5d3a69d9/turbine/vp-article_6b7ba6b6-a305-11e9-bddd-d349dc0130f4"
        alt=""
      />
    </div>
  </div>
  <div class="card">
    <div class="carText">
      <h3>На майка ти бракмата</h3>
      <span><b>1982, Pure Gas, 705002 KM</b></span>
      <p>Ебаси сабята брат.</p>
      <button>Details</button>
    </div>
    <div class="carImage">
      <img
        src="https://www.pilotonline.com/resizer/nHXJ0Mxk4C-Z1IatqmLLjkS7UnA=/630x630/top/www.trbimg.com/img-5d3a69d9/turbine/vp-article_6b7ba6b6-a305-11e9-bddd-d349dc0130f4"
        alt=""
      />
    </div>
  </div>
</div>
