<div class="loginContainer">
  <div class="loginWrapper">
    <div class="loginText">
      <h2>LOGIN</h2>
      <p>Glad to see you back! Please log-in to your account.</p>
    </div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
      <input
        type="email"
        name="email"
        formControlName="email"
        placeholder="Email Address"
      />
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <button type="submit">Login</button>
    </form>
    <div class="formLink">
      <span>Don't have an account?</span>
      <span><a routerLink="/user/register">Sign Up</a></span>
    </div>
  </div>
</div>
