<div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="project-info-box mt-0">
          <h5>
            <b>Car Details</b>
          </h5>
          <p class="mb-0">
            Колата е в перфектно състояние. Качваш се, палиш и да те нема. Не
            искам да слушам глупости.
          </p>
        </div>
        <div class="project-info-box">
          <p>
            <b>Brand: Opel</b>
          </p>
          <p>
            <b>Model: Astra</b>
          </p>
          <p>
            <b>Year: 2022</b>
          </p>
          <p>
            <b>Fuel Type: Gas</b>
          </p>
          <p>
            <b>Mileage: 3000 KM</b>
          </p>
          <p>
            <b>Added by: Martin Iliev (Ask for a deal)</b>
          </p>
          <p>
            <b>Price: 30000 BGN</b>
          </p>
          <p>
            <b>Current car rating: 10</b>
            <b> </b>
          </p>
        </div>
        <div class="project-info-box mybuttons">
          <h2>Thank you for voting on this car!</h2>
        </div>
        <div class="project-info-box mybuttons">
          <a class="btn btn-dark" routerLink="#"> Edit </a>
          <a class="btn btn-danger" routerLink="#"> Delete </a>
        </div>
        <div class="project-info-box mybuttons">
          <button class="btn btn-success" mode="up">Like</button>
          <button class="btn btn-warning" mode="down">Dislike</button>
        </div>
        <div class="project-info-box mybuttons">
          <p>
            <b>
              <a routerLink="/user/login">Log-in</a>or<a
                routerLink="/user/register"
                >register</a
              >to edit, rate or comment this car!
            </b>
          </p>
        </div>
        <div class="project-info-box mybuttons">
          <button class="btn btn-primary">Add to Favorites</button>
        </div>
        <div class="project-info-box mybuttons">
          <h2>This car has been added to your favorites!</h2>
        </div>
      </div>
      <div class="col-md-7">
        <img
          src="https://automedia.investor.bg/media/files/resized/uploadedfiles/640x0/714/7d587534c45a43fefae2ef58934a8714-05-2.jpg"
          alt="project-pic"
          height="36.9%"
          width="100%"
          class="rounded details-img"
        />
        <div id="wrapper">
          <form action="#" onSubmit="{addComment}" method="POST">
            <div class="mb-4">
              <textarea
                class="form-control"
                id="comment"
                rows="3"
                name="comment"
                placeholder="Write a comment..."
              ></textarea>
              <input
                class="btn btn-dark comment-btn btn-lg"
                type="submit"
                value="Add Comment"
              />
            </div>
          </form>
        </div>
        <div class="project-info-box fix-margin">
          <p>
            <strong></strong>
          </p>
          <p class="h4">Be the first to comment this car!</p>
        </div>
      </div>
    </div>
  </div>
</div>
