<div>
  <div class="container" *ngIf="car; else elseBlock">
    <div class="row">
      <div class="col-md-5">
        <div class="project-info-box mt-0">
          <h5>
            <b>Car Details</b>
          </h5>
          <p class="mb-0">
            {{ car["description"] }}
          </p>
        </div>
        <div class="project-info-box">
          <p>
            <b>Brand: {{ car["brand"] }}</b>
          </p>
          <p>
            <b>Model: {{ car["model"] }}</b>
          </p>
          <p>
            <b>Year: {{ car["year"] }}</b>
          </p>
          <p>
            <b>Fuel Type: {{ car["fuelType"] }}</b>
          </p>
          <p>
            <b>Mileage: {{ car["mileage"] }} KM</b>
          </p>
          <p>
            <b
              >Added by: {{ car["creator"]["firstName"] }}
              {{ car["creator"]["lastName"] }} (contact for a deal)</b
            >
          </p>
          <p>
            <b>Price: {{ car["price"] }} BGN</b>
          </p>
          <p>
            <b>Current car rating: {{ car["rating"] }}</b>
            <b> </b>
          </p>
        </div>
        <div class="project-info-box mybuttons" *ngIf="voted">
          <h2>Thank you for voting on this car!</h2>
        </div>
        <div *ngIf="isOwnedBy" class="project-info-box mybuttons">
          <a class="btn btn-dark" routerLink="#"> Edit </a>
          <a class="btn btn-danger" (click)="handleDelete()"> Delete </a>
        </div>
        <div *ngIf="!isOwnedBy && isLogged" class="project-info-box mybuttons">
          <button class="btn btn-success" mode="up">Like</button>
          <button class="btn btn-warning" mode="down">Dislike</button>
        </div>
        <div *ngIf="!isLogged" class="project-info-box mybuttons">
          <p>
            <b>
              <a routerLink="/user/login">Log-in</a>or<a
                routerLink="/user/register"
                >register</a
              >to edit, rate or comment this car!
            </b>
          </p>
        </div>
        <div
          *ngIf="!isInFavorites && isLogged"
          class="project-info-box mybuttons"
        >
          <button class="btn btn-primary">Add to Favorites</button>
        </div>
        <div *ngIf="isInFavorites" class="project-info-box mybuttons">
          <h2>This car has been added to your favorites!</h2>
        </div>
      </div>
      <div class="col-md-7">
        <img
          src="{{ car['imgUrl'] }}"
          alt="project-pic"
          height="60.6%"
          width="100%"
          class="rounded details-img"
        />
        <div id="wrapper">
          <form action="#" onSubmit="{addComment}" method="POST">
            <div class="mb-4">
              <textarea
                class="form-control"
                id="comment"
                rows="3"
                name="comment"
                placeholder="Write a comment..."
              ></textarea>
              <input
                class="btn btn-dark comment-btn btn-lg"
                type="submit"
                value="Add Comment"
              />
            </div>
          </form>
        </div>
        <div class="project-info-box fix-margin">
          <p *ngIf="car['comments'].length > 0">
            <strong></strong>
          </p>
          <p class="h4" *ngIf="car['comments'].length == 0">
            Be the first to comment this car!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>LOADING...</ng-template>
