<section id="editCar" class="fix">
  <div *ngIf="!car; else elseBlock"></div>
  <ng-template #elseBlock>
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2">Edit Car</h3>
                <form [formGroup]="editFormGroup" (ngSubmit)="handleEdit()">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="brand"> Brand </label>
                        <input
                          type="text"
                          id="brand"
                          class="form-control"
                          name="brand"
                          placeholder="Example: Mercedes"
                          formControlName="brand"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="model"> Model </label>
                        <input
                          type="text"
                          id="model"
                          name="model"
                          class="form-control"
                          placeholder="Example: C 220"
                          formControlName="model"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline">
                        <label for="imgUrl" class="form-label">
                          Car Image
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="imgUrl"
                          name="imgUrl"
                          placeholder="https://..."
                          formControlName="imgUrl"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="isbn"> Fuel Type </label>
                        <input
                          type="text"
                          id="fuelType"
                          name="fuelType"
                          class="form-control"
                          placeholder="Diesel, Gasoline, Hybrid..."
                          formControlName="fuelType"
                        />
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="year"> Year </label>
                        <input
                          type="number"
                          min="1960"
                          max="2022"
                          step="1"
                          id="year"
                          name="year"
                          class="form-control"
                          placeholder="Example: 2016"
                          formControlName="year"
                        />
                      </div>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="description">
                        Description
                      </label>
                      <textarea
                        class="form-control"
                        id="description"
                        rows="3"
                        name="description"
                        placeholder="A short description of the car..."
                        formControlName="description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline">
                        <label for="mileage" class="form-label">
                          Mileage (in KM)
                        </label>
                        <input
                          type="number"
                          step="100"
                          class="form-control"
                          id="mileage"
                          name="mileage"
                          placeholder="Example: 10 000"
                          formControlName="mileage"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-4">
                      <div class="form-outline">
                        <label for="price" class="form-label">
                          Price (in BGN)
                        </label>
                        <input
                          type="number"
                          step="100"
                          class="form-control"
                          id="price"
                          name="price"
                          placeholder="Example: 30 000"
                          formControlName="price"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="mt-4">
                        <input
                          class="btn btn-warning btn-lg"
                          type="submit"
                          defaultValue="Submit"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
