<div class="container allign">
  <div class="profile card">
    <div class="profile-body">
      <div class="profile-bio">
        <div class="row">
          <div class="col-md-5 text-center">
            <img
              class="img-thumbnail md-margin-bottom-10"
              src="../../assets/PicsArt-Background-186.jpg"
              alt="img"
            />
          </div>
          <div *ngIf="!person; else elseBlockOne"></div>
          <ng-template #elseBlockOne>
            <div class="col-md-7">
              <strong class="h2">
                {{ person.firstName }} {{ person.lastName }}
              </strong>
              <span>
                <h3>FAVORITE CARS:</h3>
              </span>

              <hr />
              <div *ngIf="person.favorites.length > 0; else elseBlockTwo">
                <div *ngFor="let car of person.favorites">
                  <strong>
                    <a [routerLink]="['../../details', car._id]">
                      {{ car.brand }} {{ car.model }} {{ car.year }}
                      {{ car.fuelType }}</a
                    >
                  </strong>
                </div>
              </div>

              <ng-template #elseBlockTwo
                ><p>
                  <strong>
                    <p class="h2">You don't have any favorite cars yet!</p>
                  </strong>
                </p></ng-template
              >
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
