<div class="container allign">
  <div class="profile card">
    <div class="profile-body">
      <div class="profile-bio">
        <div class="row">
          <div class="col-md-5 text-center">
            <img
              class="img-thumbnail md-margin-bottom-10"
              src="../../assets/PicsArt-Background-186.jpg"
              alt="img"
            />
          </div>
          <div class="col-md-7">
            <strong class="h2">
              {{ person.firstName }} {{ person.lastName }}
            </strong>
            <span>
              <h3>FAVORITE CARS:</h3>
            </span>

            <hr />
            <p>
              <strong>
                <p class="h2">You don't have any favorite cars yet!</p>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
